{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur Book Hub</h1>

<section>
    <h2> Livres à découvrir</h2>
    <div class="cards">
        {% for book in books %}
            <div class="card">
                <h3>{{ book.title }}</h3>
                <p>{{ book.year }}</p>
                <p>{{ book.description }}</p>
                {% if book.bookAuthor %}
                    <p><em>par {{ book.bookAuthor.name }}</em></p>
                {% endif %}
                <a href="{{ path('app_book_show', {'id': book.id}) }}">
                    Voir le livre →
                </a>
            </div>
        {% else %}
            <p>Aucun livre disponible.</p>
        {% endfor %}
    </div>
</section>


{% endblock %}